//--------------------------------------------------
// Timeline: TimelineItem
//--------------------------------------------------

.TimelineItem {
  &:before {
    margin-left: calc((var(--timelineBadge-width) - 2rem) / 2);
  }

  &:first-child {
    padding: 0 0 $spacer-3 0;

    .TimelineItem-badge {
      background-color: var(--color-fg-muted);
      color: var(--color-timeline-badge-bg);
    }
  }

  .TimelineItem-badge {
    height: var(--timelineBadge-height);
    margin-right: $spacer-3;
    width: var(--timelineBadge-width);

    svg {
      height: calc(var(--timelineBadge-height) * 0.5);
      width: calc(var(--timelineBadge-width) * 0.5);
    }
  }

  .TimelineItem-body {
    > div {
      > .fa-ul {
        margin-left: calc(var(--fa-li-margin) + 0.5em);
      }
    }
  }
}
