body {
  font-family: 'Ubuntu Mono', monospace;
}

.nyan-header {
  position: relative;

  img:first-child {
    height: 25rem;
    object-fit: cover;
    object-position: 100% 100%;
  }
}

.nyan-icon {
  left: 0;
  position: absolute;
  right: 0;
  top: 20rem;
}
