*:not(i) {
  font-family: 'Ubuntu', sans-serif !important;
  letter-spacing: 0.02rem;
}

.Box {
  border: none;
}

.Box-body {
  border-bottom: 1px solid var(--color-border-secondary);
  border-left: 1px solid var(--color-border-secondary);
  border-right: 1px solid var(--color-border-secondary);
}

.Box-header {
  border: none;
  position: relative;

  img:first-child {
    height: 22.5rem;
    object-fit: cover;
    object-position: 0% 100%;
    width: 100%;
  }

  img.nyan-icon {
    left: 0;
    position: absolute;
    right: 0;
    top: 17.5rem;
    width: 10rem;
  }
}

.Timeline {
  .TimelineItem:first-child {
    .TimelineItem-badge {
      background-color: var(--color-icon-secondary);
      color: var(--color-timeline-badge-bg);
    }
  }

  .TimelineItem-badge {
    border: 1px solid var(--color-bg-canvas);
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300 !important;
}

.lh-3 {
  line-height: 2.8;
}

.pt-10 {
  padding-top: 72px;
}

.text-bold {
  font-weight: 400 !important;
}
