*:not(i) {
  font-family: 'Ubuntu', sans-serif !important;
  letter-spacing: 0.02rem;
}

.Box {
  border: none;
}

.Box-body {
  border-bottom: 1px solid var(--color-border-muted);
  border-left: 1px solid var(--color-border-muted);
  border-right: 1px solid var(--color-border-muted);
}

.Box-header {
  border: 1px solid var(--color-border-muted);
  margin: 0;
  position: relative;

  .icon,
  .icon-border {
    left: 0;
    position: absolute;
    right: 0;
    top: 17.5rem;
    width: 10rem;
  }

  .icon-border {
    border-left: 1px solid var(--color-border-muted);
    border-radius: 5rem 5rem 0 0;
    border-right: 1px solid var(--color-border-muted);
    border-top: 1px solid var(--color-border-muted);
    height: 5rem;
  }

  img.header {
    filter: grayscale(100%);
    height: 22.5rem;
    object-fit: cover;
    // object-position: left bottom;
    object-position: right bottom;
    width: 100%;
  }

  svg.icon {
    background-color: var(--color-canvas-default);
    fill: var(--color-fg-default);
    fill-opacity: 0.95;
    height: 10rem;
  }
}

.Timeline {
  .TimelineItem:first-child {
    padding: 0 0 16px 0;

    .TimelineItem-badge {
      background-color: var(--color-fg-muted);
      color: var(--color-timeline-badge-bg);
    }
  }

  .TimelineItem-badge {
    margin-right: 16px;
  }

  .TimelineItem-body {
    .fa-ul {
      > li:not(:first-child) {
        margin-top: 8px;
      }

      ul {
        list-style-type: circle;
        margin-left: 1.5em;

        > li {
          padding-left: 0.5em;
        }

        > li:not(:first-child) {
          margin-top: 4px;
        }
      }
    }
  }
}

.fa-ul {
  .fa-li {
    left: -3em;
    width: 3em;
  }

  > li:not(:first-child) {
    margin-top: 24px;
  }
}

.mt-8 {
  margin-top: 56px;
}

.pt-10 {
  padding-top: 72px;
}

.text-medium:not(i) {
  font-weight: 500 !important;
}

.text-regular:not(i) {
  font-weight: 400 !important;
}

i[class^="fa-"] {
  letter-spacing: 0 !important;
}
