//--------------------------------------------------
// Variables: Root
//--------------------------------------------------

:root {
  --base-text-weight-semibold: 700;
  --color-fg-theme: #67b364;
  --fa-li-margin: 2em;
  --fa-li-width: 3em;
  --h6-size: 13px;
  --timelineBadge-height: 2.5rem;
  --timelineBadge-width: 2.5rem;
}
