//--------------------------------------------------
// Variables: Root
//--------------------------------------------------

:root {
  --color-fg-theme: #67b364;
  --fa-li-margin: 2em;
  --fa-li-width: 3em;
  --timelineBadge-height: 2.5rem;
  --timelineBadge-width: 2.5rem;
}
